@keyframes slide-right {
    0% {
        transform: translateX(-100px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slide-left {
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slide-top {
    0% {
        transform: translateY(100px);        
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100px);
    }
}